


<div class="row">
  <% @parks.each do |park| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(park.image), final_path(park) %>
        <div class="caption">
          <h3><%= link_to park.name, final_path(park) %></h3>
          <p><%= park.summary %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

