
<%= form_for @feature do |form| %>
  <div class="form-group">
    <%= form.label :activity %>
    <%= form.text_field :activity, class: "form-control" %>
  </div>
  <%= form.button 'Create Feature', class: "btn btn-success" %>
<% end %>