
<h1>You can do <%= @feature.activity %> in the following parks!</h1>


<ul>
  <% @parkfeatures.each do |parkfeature| %>
    <li><%= link_to parkfeature.park.name, park_path(parkfeature.park) %></li>
  <% end %>
</ul>
